{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Welcome to HeroVPN!</h1>
    <p>HeroVPN is a free open source website, fully hosted on Heroku, that stands as a in browser proxy.<p>
    <a type="button" class="btn btn-lg btn-default" href="https://hero--vpn.herokuapp.com/launch"><span class="glyphicon glyphicon-flash"></span>Launch HeroVPN</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Soupman123/HeroVPN"><span class="glyphicon glyphicon-download"></span>Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    HeroVPN provides the <a href="https://hero--vpn.herokuapp.com/">HeroVPN</a> website as a service to the public. As such, HeroVPN is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within this website, including third-party resources, such as advertisements and/or direct hyperlinks, which do not constitute an endorsement by HeroVPN of the parties or services.
  </div>
  <hr>
  <div class="row">
    <div style="">
      <h3><span class="glyphicon glyphicon-link"></span> How HeroVPN works</h3>
      <ul>
        <p>HeroVPN is a fully in-website proxy, when we recieve your request our servers go to work.</p>

        <li><b>1. </b>When we recieve your request, first clean and analize the URL. Once our team of expert algorithms determines the URL is safe, we verify you are a human.</li>
        <li><b>2. </b>The our server spins up a request to your desired website and voila, our servers can now prepare it for you!</li>
        <li><b>3. </b>We then search through the website preparing all third-party resources to be redirected to us. This step ensures your browser can't send any naughty requests to track you.</li>
        <li><b>4. </b>After those steps we can finally send all that data over to you with <b>Secure Hypertext Transfer Protocol</b> so that you can go about your day with peace of mind.</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
